In [1]:
tas = [1, 2.3, 'jeruk']

In [2]:
len(tas)

3

In [3]:
for i in range(len(tas)):
    print(tas[i])
    #i di atas bisa diganti dengan x dan y

1
2.3
jeruk

In [4]:
for i in range(0,3):
    print(tas[i])

1
2.3
jeruk

In [5]:
tas

[1, 2.3, 'jeruk']

In [6]:
tas[1] = 'mangga' # ini cara penambahan dimana saja yang bisa kita coba

In [7]:
tas

[1, 'mangga', 'jeruk']

In [8]:
sawo = ['sawo']

In [9]:
tas = tas + sawo

In [10]:
tas

[1, 'mangga', 'jeruk', 'sawo']

In [11]:
tas.append('duren') #append di samping hanya bisa di isi satu karakter

In [12]:
tas

[1, 'mangga', 'jeruk', 'sawo', 'duren']

In [13]:
barang_lagi = ['pb','pulpen','buku','parfum']

In [14]:
tas = tas + barang_lagi

In [15]:
tas

[1, 'mangga', 'jeruk', 'sawo', 'duren', 'pb', 'pulpen', 'buku', 'parfum']

In [16]:
len(tas)

9

In [17]:
tas.append('barang_lagi')

In [18]:
tas

[1,
 'mangga',
 'jeruk',
 'sawo',
 'duren',
 'pb',
 'pulpen',
 'buku',
 'parfum',
 'barang_lagi']

In [19]:
len(tas)

10

In [20]:
godie_bag = [1,2,3,4,5]

In [21]:
godie_bag

[1, 2, 3, 4, 5]

In [22]:
godie_bag.pop() #pop disini ialah pengurangan dalam list. sedangkan, appened itu penambahan barang di akhir

5

In [23]:
godie_bag

[1, 2, 3, 4]

In [24]:
godie_bag.pop(2)

3

In [25]:
godie_bag

[1, 2, 4]

In [26]:
totebag = godie_bag.pop()

In [27]:
totebag

4

In [28]:
godie_bag

[1, 2]

In [29]:
var = [1,2,9,8,4,3]

In [30]:
var

[1, 2, 9, 8, 4, 3]

In [31]:
var.sort() #cara mengurutkan angka variabel

In [32]:
var

[1, 2, 3, 4, 8, 9]

In [33]:
var2 = [1,4,5,3,7]

In [34]:
var2

[1, 4, 5, 3, 7]

In [35]:
var3 = var2.sort()

In [36]:
var3

In [37]:
type(var2.sort()) #data tidak ada

NoneType

In [38]:
type(var3) #data tidak ada

NoneType

In [39]:
var3 = var2 #jadi kita langsung saja buat yang simple dan ada hasilnya. apalagi kita membuat data yang besar

In [40]:
var3

[1, 3, 4, 5, 7]

In [41]:
var2

[1, 3, 4, 5, 7]

In [42]:
var4 = ['a','c','d','g','f']

In [43]:
var4

['a', 'c', 'd', 'g', 'f']

In [44]:
var4.sort()

In [45]:
var4

['a', 'c', 'd', 'f', 'g']

In [46]:
var4.reverse() #ini untuk mengurutkan variabel dari belakang

In [47]:
var4

['g', 'f', 'd', 'c', 'a']

# NESRED LIST (di dalam list ada list)

In [48]:
isi = [1,2,3,4,5,[6,7,8]]

In [49]:
isi

[1, 2, 3, 4, 5, [6, 7, 8]]

In [50]:
isi[2]

3

In [51]:
isi[2:]

[3, 4, 5, [6, 7, 8]]

In [52]:
isi[5:]

[[6, 7, 8]]

In [53]:
isi[5][1]

7

In [54]:
isi[1]

2

In [55]:
isi_isi = [1,2,3,4,5,6,[7,8,[9,10,11,'target',12]]]

In [56]:
isi_isi

[1, 2, 3, 4, 5, 6, [7, 8, [9, 10, 11, 'target', 12]]]

In [57]:
isi_isi[5:]

[6, [7, 8, [9, 10, 11, 'target', 12]]]

In [58]:
isi_isi[5:][1][2]

[9, 10, 11, 'target', 12]

In [59]:
isi_isi[5:][1][2][3] #cara amhbil nama si target

'target'

# LEBIH DALAM LIST

In [60]:
Var9 = list()

In [61]:
type(Var9)

list

In [62]:
var6 = []

In [64]:
type(var6)

list

In [66]:
if Var9 == var6:
    print('ternyata Var9 sama dengan Var6')

ternyata Var9 sama dengan Var6

In [67]:
list('saya harus bisa python') #cara memotong variael

['s',
 'a',
 'y',
 'a',
 ' ',
 'h',
 'a',
 'r',
 'u',
 's',
 ' ',
 'b',
 'i',
 's',
 'a',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [68]:
ganjil = [1,3,5,7,9]

In [69]:
genap = [2,4,6,8,10]

In [70]:
angka = ganjil + genap

In [71]:
angka

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [72]:
bilangan = [ ganjil, genap]

In [73]:
bilangan

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [74]:
for syn in bilangan:
    print(syn)
    
    for box in syn:
        print(box)
    #range juga bisa di ganti kalo ingin literasi, dan i ini bisa di ganti apapun. namanya literator

[1, 3, 5, 7, 9]
1
3
5
7
9
[2, 4, 6, 8, 10]
2
4
6
8
10